@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@1,300&family=Rock+Salt&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

/*header*/

h1 {
    font-family: Roboto, sans-serif;
    font-size: 50px;
    color: purple;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #d46bbf;
}

h2 {

    font-size: 30px;
    color: purple;
    text-align: center;

}


body {
    margin: 0;
    font-family: Roboto;
    color: rgb(32, 24, 24);
}

/*play area */

.board {
    font-family: Rock salt, sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 80px;
    width: 100vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    margin-bottom: 2px;
}


.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
}

/*x and o hover effect*/

.o-hover:hover::after {
    content: "o";
    opacity: 0.4;
}

.x-hover:hover::after {
    content: "x";
    opacity: 0.4;
}

/* remove border for edges */

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

/* Score area*/


.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
    text-align: center;
}

#score {
    color: purple;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 25px;

}

.winning-message {
    text-align: center;
}

/*botton */

.btn {
    border: 1px solid black;
    color: black;
    margin-inline: 45px;
    margin-bottom: 2px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(216, 203, 203);
    border-radius: 10px;
    box-shadow: 0 5px rgb(141, 145, 139);

}